.History-container{
    margin-top: 90px;
}

#title-section-history{
    width: 8ch;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* Estilos Galería */
  .gallery-container {
    width: 100%;
  }
  
  .gallery-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .gallery-description {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .selectedImageContainer {
    margin-bottom: 2rem;
  }
  
  .mini-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 8px;
  }
  
  .mini-gallery img {
    width: 100%;
    height: 350px;
    /* height: auto; en caso de querer que todas las imagenesse vean con tamaño original */
    cursor: pointer;
    object-fit: cover; /* Para */
    opacity: 0.85;
    transition: transform 0.4s;
  }
  
  .mini-gallery img:hover {
    transform: scale(1.05);
    opacity: 1;
    z-index: 10;
  }

  .miniGalleryImage.selected {
    /* Estilos para imágenes seleccionadas, por ejemplo, un borde resaltado */
    opacity: 0.95;
    transform: scale(0.8);
  }
  .miniGalleryImage.selected:hover {
    /* Estilos para imágenes seleccionadas, por ejemplo, un borde resaltado */
    transform: scale(0.9);
    opacity: 0.85;
  }
  
  .video-section {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .video-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.embed-responsive {
    width: 500px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .video-description {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .conclusion {
    text-align: center;
  }


  .selectedImage {
    width: 100%;
    height: auto;
    max-height: 70vh; /* 70% de la pantalla */
    object-fit: contain;
  }

  .selectedImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-height: 80vh; /* Altura máxima del contenedor en función de la ventana */
    overflow: hidden;
  }
  
  .imageWrapper {
    position: relative;
  }
  
  .image-nav-button {
    background-color: rgba(76, 175, 80, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .image-nav-button:hover {
    background-color: rgba(69, 160, 73, 0.8);
  }
  
  .image-nav-prev {
    left: 10px;
  }
  
  .image-nav-next {
    right: 10px;
  }


  @media (max-width: 600px) {
    .mini-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 8px;
    }
    
    .mini-gallery img {
      width: 100%;
      height: 350px;
      /* height: auto; en caso de querer que todas las imagenesse vean con tamaño original */
      cursor: pointer;
      object-fit: cover; /* Para */
      opacity: 0.85;
      transition: transform 0.4s;
    }
  }